matrix:
- name: Markdown
  aspell:
    lang: en
    ignore-case: true
  dictionary:
    encoding: utf-8
    wordlists:
      - .github/config/wordlist.txt
  pipeline:
  - pyspelling.filters.markdown:
  - pyspelling.filters.html:
      comments: true
      attributes:
      - title
      - alt
      ignores:
      - :matches(code, pre)
  sources:
  - '**/*.md'
  default_encoding: utf-8
